Source: ros-indigo-rwt-config-generator
Section: misc
Priority: extra
Maintainer: David V. Lu!! <davidvlu@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin, ros-indigo-rospy
Homepage: 
Standards-Version: 3.9.2

Package: ros-indigo-rwt-config-generator
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-rospy
Description: The rwt_config_generator package
